[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tree-sitter = "==0.21.3"
tree-sitter-typescript = "==0.21.1"
openapi-parser = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.11"
